@import "./../abstract/constants";

.rectangle_container {
    position: relative;
    height: 18rem;

}

.small_rectangle {
    position: absolute;
    width: 99.8%;
    left: 0%;
    top: -8.28%;
    bottom: -13.41%;
    z-index: 1;
}

h1 {
    margin-top: 4rem;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 4rem;
    line-height: 5rem;
    color: #FFBC6B;

    span {
        color: white;
    }

    .rectangle {
        top: 15%;
        left: 82%;
    }
}

.join__block {
    @include flex(space-between, center, column);
    width: 80rem;
    padding-top: 1.5rem;
    position: relative;
    top: 1%;
    left: 20%;
    z-index: 2;
    // background-color: green;
}

.find_btn.join {
    margin: 0;
}

.big_star {
    position: absolute;
    left: 6.62%;
    right: 84.84%;
    top: 302.72%;
    bottom: 8.81%;
    z-index: 5;
}

.med_star {
    position: absolute;
    left: 12.19%;
    right: 84.79%;
    top: 329%;
    bottom: 0%;
}

.small_star {
    position: absolute;
    left: 0.81%;
    right: 93.89%;
    top: 324.22%;
    bottom: 5.52%;
}

.opportunities {
    width: 100%;
    height: 60rem;
    background: linear-gradient(180deg, #464069 0%, rgba(118, 107, 175, 0) 37.79%);
}

.wrapper {
    @include flex(justfy, align, direction);
    padding: 5rem;
}

.left_side {
    width: 80rem;
    height: 30rem;
    background-color: green;
}

.right_side {
    padding-left: 5rem;
}



.circle_background {
    position: absolute;
    width: 59rem;
    height: 53rem;
    top: 0rem;
    left: -7rem;
    filter: blur(2px);
    z-index: 8;
}

.big_circle {
    position: relative;
    padding: 3rem;
    width: 52rem;
    height: 52rem;
    border-radius: 50%;
    overflow: hidden;
    opacity: 0.5;
    border: 2px solid #FFBC6B;
    z-index: 7;
}

.inner_circle {
    position: relative;
    width: 45rem;
    height: 45rem;
    border-radius: 50%;
    border: 31px solid #FFBC6B;
    z-index: 9;
}

.star_background {
    width: 572px;
    height: 572px;
    top: -55.4rem;
    left: -3rem;
    position: relative;
    z-index: 11;
}

.circle_star {
    position: relative;
    top: -113rem;
    left: -2rem;
    padding: 0;
    overflow: hidden;
    z-index: 11;
}