@import "./../abstract/constants";

main {
    position: relative;
}

.rectangle_container {
    position: relative;
    height: 18rem;

}

.small_rectangle {
    position: absolute;
    width: 99.8%;
    left: 0%;
    top: -8.28%;
    bottom: -13.41%;
    z-index: 1;
}

h1 {
    margin-top: 4rem;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 4rem;
    line-height: 5rem;
    color: #FFBC6B;

    span {
        color: white;
    }

    .rectangle {
        top: 15%;
        left: 82%;
    }
}

.join__block {
    @include flex(space-between, center, column);
    width: 80rem;
    padding-top: 1.5rem;
    position: relative;
    top: 1%;
    left: 20%;
    z-index: 2;

}

.find_btn.join {
    margin: 0;
}

.stars__block {
    position: absolute;
    top: 7%;
    left: 1%;
    width: 24rem;
    height: 33rem;
    z-index: 1;
}

.big_star {
    position: relative;
    left: 15%;
    top: 1%;
    bottom: 8.81%;

}

.med_star {
    position: relative;
    left: 46%;
    top: 15%;
    bottom: 0%;
    z-index: 10;
}

.small_star {
    position: relative;
    left: -40%;
    top: -5%;
    bottom: 5.52%;
    z-index: 10;
}

.opportunities {
    width: 100%;
    height: 60rem;
    background: linear-gradient(180deg, #464069 0%, rgba(118, 107, 175, 0) 37.79%);
}

.section__title {
    width: 117rem;
    margin: 0 auto;
    padding-top: 15rem;
    padding-left: 15rem;
}

h4 {
    margin: 0rem;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 5rem;
    line-height: 6rem;
    text-align: right;
    color: #464069;
}

.subtitle {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 2.4rem;
    line-height: 3rem;
    text-align: right;
    color: #464069;
}

.wrapper {
    @include flex(justfy, align, direction);
    padding: 5rem;
}

.left_side {
    width: 100rem;
    height: 30rem;
    padding: 1rem;

}

.logo__title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-transform: uppercase;
    color: #464069;
    margin-bottom: 7rem;

}

.left__side_section {
    width: 63.4rem;
    height: 29rem;

    h5 {
        margin-top: 0;
        margin-bottom: 5rem;
        font-family: Playfair Display;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 27px;
        text-transform: uppercase;
        color: #B8121A;
    }

    div {

        @include flex();

        p {
            font-family: Poppins;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 27px;
            margin-bottom: 1rem;
            color: #464069;
            text-align: start;
        }
    }


}

.bussiness {
    width: 44rem;
}

.address {
    width: 62.5rem;

    :nth-child(1) {
        padding-bottom: 2.5rem;
    }

    :nth-child(2) {
        width: 31rem;
        margin-right: 9rem;
    }
}

.description {
    width: 63rem;

    :nth-child(1) {
        width: 20rem;
        height: 3rem;
        padding-bottom: 7rem;

    }

    :nth-child(2) {
        width: 42rem;
        margin: 0 0.7rem;
        padding-left: 1.6rem;
    }
}

.contact {
    width: 35.5rem;
    margin-top: 2rem;

}



.right_side {
    padding-left: 9rem;
}



.circle_background {
    position: absolute;
    width: 59rem;
    height: 53rem;
    top: 0rem;
    left: -7rem;
    filter: blur(2px);
    z-index: 8;
}

.big_circle {
    position: relative;
    padding: 3rem;
    width: 52rem;
    height: 52rem;
    border-radius: 50%;
    overflow: hidden;
    opacity: 0.5;
    border: 2px solid #FFBC6B;
    z-index: 7;
}

.inner_circle {
    position: relative;
    width: 45rem;
    height: 45rem;
    border-radius: 50%;
    border: 31px solid #FFBC6B;
    z-index: 9;
}

.star_background {
    width: 572px;
    height: 572px;
    top: -55.4rem;
    left: -3rem;
    position: relative;
    z-index: 11;
}

.circle_star {
    position: relative;
    top: -113rem;
    left: -2rem;
    padding: 0;
    overflow: hidden;
    z-index: 11;
}